.Todos {
    width: 100%;
    height: 683px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
}

.butt {
    width: 170px;
    height: 30px;
}